<html>
<head>
    <style>
    div
    {
    width:900px;
    }
    body{
        background-color:wheat;
    }
    img
        {
            width: 600px;
            height: 300px;
        }
    p
        {
            font-size: 1.3em;
        }
    h1
        {
            font-size: 3em;
            margin-left: 300px;
        }
        img 
        {
            margin-left: 100px;
        }
    </style>
    </head>
<body>
    <div>
    <h1>Air pollution</h1>
    <img src="https://github.com/Swapna02/Stop_Global_Warming/blob/master/images/alexander-tsang-ppN1zRQrCEg-unsplash.jpg?raw=true" width:100px height:50px>
        <p><b>Introduction</b><br>Air pollution is a mixture of natural and man-made substances in the air we breathe.  It is typically separated into two categories: outdoor air pollution and indoor air pollution.<b>Outdoor air pollution</b> involves exposures that take place outside of the built environment. Examples include:</p>
        <ul>
        <li>Fine particles produced by the burning of fossil fuels (i.e. the coal and petroleum used in energy production)</li>
        <li>Noxious gases (sulfur dioxide, nitrogen oxides, carbon monoxide, chemical vapors, etc.)</li>
        <li>Ground-level ozone (a reactive form of oxygen and a primary component of urban smog)</li>
        <li>Tobacco Smoke</li></ul>
        <p><b>Indoor air pollution </b> involves exposures to particulates, carbon oxides, and other pollutants carried by indoor air or dust. Examples include:</p>
        <ul>
        <li>Gases (carbon monoxide, radon, etc.)</li>
        <li>Household products and chemicals</li>
        <li>Building materials (asbestos, formaldehyde, lead, etc.)</li>
        <li>Outdoor indoor allergens (cockroach and mouse dropping, etc.)</li>
        <li>Tobacco smoke</li>
        <li>Mold and pollen</li></ul>
        <p>In some instances, outdoor air pollution can make its way indoors by way of open windows, doors, ventilation, etc.
<br>
            <b>What health effects are linked to air pollution?</b><br>
Over the past 30 years, researchers have unearthed a wide array of health effects which are believed to be associated with air pollution exposure.  Among them are respiratory diseases (including asthma and changes in lung function), cardiovascular diseases, adverse pregnancy outcomes (such as preterm birth), and even death.<br>

In 2013, the World Health Organization concluded that outdoor air pollution is carcinogen to humans.<br>

            <b>How can I reduce my risk for air pollution exposure?</b><br>
Indoor air pollution can be reduced by making sure that a building is well-ventilated and cleaned regularly to prevent the buildup of agents like dust and mold.  Occupants would also be wise to remove any known pollutants and or irritants (aerosols, stringent cleaning supplies, etc.) whenever possible.<br>

Outdoor air pollution exposures can be reduced by checking one’s Air Quality Index (AQI), avoiding heavy traffic when possible, and avoiding secondhand tobacco smoke.<br>

            <b>How is air pollution linked to climate change?</b><br>
While climate change is a global process, it has very local impacts that can profoundly affect communities, not the least of which is air pollution.<br>

Increasing temperatures are directly linked to poor air quality which, in turn, can affect the heart and exacerbate cardiovascular disease.  Examples of this may include a rise in pollen, due to increased plant growth, or a rise in molds, due to severe storms — both of which can worsen allergies and other lung diseases, such as asthma.<br>

Scientists say an increasing rise in ozone levels are also a concern.</p>
    </div></body></html>
