<html>
<head>
    <style>
        body
        {
            background-color: gold;
        }
    h1
    {
        padding-left: 600px;
      font-family: cursive;
        font-size: 3em;
        color: aqua}</style>
    </head>
<body>
    <h1>POLLUTION</h1></body></html>