<html>
<head>
    <style>
    div
    {
    width:900px;
    }
    img
        {
            width: 600px;
            height: 300px;
        }
    p
        {
            font-size: 1.3em;
        }
        
    body{
        background-color:wheat;
    }
    h1
        {
            font-size: 3em;
            margin-left: 270px;
        }
        img 
        {
            margin-left: 100px;
        }
        i
        {
font-size: 1.2em;
        color: black;
        text-decoration: underline;}
    </style>
    </head>
<body>
    <div>
    <h1>Land pollution</h1>
    <img src="https://github.com/Swapna02/Stop_Global_Warming/blob/master/images/nature-845849_1920.jpg?raw=true" width:100px height:50px>
        <p><b>What is land pollution?</b><br>Land pollution is the deterioration (destruction) of the earth’s land surfaces, often directly or indirectly as a result of man’s activities and their misuse of land resources.

It occurs when waste is not disposed of properly, or can occur when humans throw chemicals onto the soil in the form of pesticides, insecticides and fertilizers during agricultural practices. Exploitation of minerals (mining activities) has also contributed to the destruction of the earth’s surface.Since the Industrial Revolution, natural habitats have been destroyed, and environments have been polluted, causing diseases in both humans and many other species of animals.

It is important to understand that land pollution is not just littering, although it is a part of the issue. Land pollution is a way bigger issue. It is more of an industrial issue, involving big oil refineries, industries that manufacture chemicals, herbicides, pesticides and fertilizers used in farming. It also involves illegal dumping of waste in landfills and so on.

Human actions have also caused many large areas of land to lose or reduce their capacity to support life forms and ecosystems. This is known as land degradation. Note that land degradation can result from many factors, and land pollution is only one of them.

In the lesson, we shall see the more about Land and Environmental Pollution, the sources of the pollution, its consequences and a few things we can do to prevent further pollution and protect our environment.<br>
<b>Sources of land pollution</b><br>
            Below are some sources of solid and semi-solid pollutants:<br></p>
            <ul>
        <li>Agricultural sources</li>
        <li>Ashes</li>
        <li>Mining sources</li>
        <li>Industrial sources</li>
        <li>Sewage Treatment</li>
        <li>Garbage or waste</li>
        <li>Construction sources</li>
        <li>Deforestation</li>
        <li>Chemical And Nuclear Plants</li>
        <li>Oil Refineries</li></ul>
        <p><b>Effects of land pollution</b><br>

            <i>Ecosystems</i><br>
It is disturbing to think that the wonderful benefits of a healthy ecosystem are threatened by land and soil pollution. Hazardous chemicals in the soil can potentially wipe out living organisms in the soil. These organisms help to break down organic matter in the soil and help aerate the soil. A polluted land or soil will therefore not be able to support the plants and animals that depend on it in keeping food chains intact.<br>

            <i>Water sources</i><br>
Anytime it rains, water washes the surfaces of these polluted lands and runs off to nearby water sources. All the dangerous chemicals and harmful litter such as plastics, glass and metal pieces are washed into water bodies. These make the waters unsafe for consumption and also harmful to animals that live in the water. In addition to this. Chemicals in the soil are leached further down into the water table, thereby polluting them in the process.<br>

            <i>Vegetation</i><br>
Vegetation plays a vital role in climate control, food, water purification, shelter and so on. The activity of mining, industry, landfills and the like are destructive to vegetation and threaten the benefits that vegetation provides.<br>

            <i>Health</i><br>
There are many pollutants in soils that can be very harmful when exposed to humans over long periods. For example pollutants in soils such as Arsenic found in pesticides, mining of gold, lead and copper are toxic when exposed to humans. Long exposures to humans may cause arsenic poisoning. They can also cause skin, heart, liver, some kinds of cancers and neurological damage. <br>
            <i>Environments</i><br>
Landfills, littered communities and places with dirty landscapes are generally not attractive to tourists and visitors. This means such communities usually miss out on the value and benefits of tourism and investment. In some cities, there are very bad smells, lots of rats, mice and insects that spread diseases. These animals thrive in dirty places. Governments spend a lot of money cleaning up and managing trash and the polluted landscape. That money could have been used for other important things such as healthcare and education. Many landfills are always burning and they cause further air pollution.</p>
        <p><b>How to prevent land pollution</b><br>Reuse any items that you can. Items like clothing, bottles, wrapping paper and shopping bags can be used over and over again, rather than buying new things.

The greatest prevention to land pollution is in the three ‘R's’ …
Reduce Waste, Reuse things and
Recycle things. This is true even for governments. They can also use the three ‘R’ rule to minimize the amount of waste that ends up in landfills. After the three 'R's, remember to turnthe rest of the garbage into compost.<br>Personal litter should be disposed properly. We can separate household waste at home for recycling. More than half of our household waste could be recycled or re-used but once it is mixed up, it becomes more difficult to separate different components for recycling. This is also true for the waste we make at school or hospitals.<br>Buy biodegradable products.<br>Buy biodegradable products.<br>Eat organic foods that are grown without pesticides. Look out for fertilizer or pesticide free products when you go to the market.</p>
</div></body></html>
