<!DOCTYPE html>
<html>
    <title>Stories</title>
    <head>
        <link rel="stylesheet" href="C:\Users\shashank\Desktop\webd project\font-awesome-4.7.0\font-awesome-4.7.0\css\font-awesome.min.css">
<STYle>
    #i1{
        border: 3px solid black;
        padding: 10px;
        font-size: 40px;
        width: 1500px;
        padding-left: 50px;
        margin-left: 50px;
    }
    body{
        padding: 50px;
        text-align: center;
        background-color: bisque;
    }
    #bar
        {
            background-color: grey;
            margin-bottom: 20px;
            width: 1400px;
        }
        #bar a
        {
            
            font-size: 50px;
            font-weight: 600;
            text-decoration: none;
            color: #fcda05;
            display: inline-block;
            position: relative;
        }
        #bar td
        {
            width:480px;
            text-align: center;
        }

        #bar a:hover
        {
            color: lime;
        }
        #div1{
            background-color:lightblue;
            text-align: left;
            padding: 10px;
            width: 1400px;
            height: 900px;
            border: 2px solid black;
        }
        
        #img1{
            float: left;
            padding: 15px;
        width: 850px;
        height: 550px;
        }
        .p1{
            font-size: 24px; 
            padding: 10px;
            
        }
        #p2 {
            font-size: 30px;
            text-align: left;
        }
       
        .video1{
            float: left;
            padding-top: 120px;
            width: 1000px;
            height: 500px;
            padding: 20px;
        }
    </STYle>

    </head>
    <body>
        <div id="bar">
        <table>
            <tr>
                <td><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </td><td><a href="/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i> news</a></td>
        
        <td><a href="/stats"><i class="fa fa-bar-chart"></i> stats</a></td>
                <td><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> login</a></td></tr></table></div>
        <div id="div1">
            <h1 style="font-size: 55px; padding: 20px;">Greenland Lost 217 Billion Tons of Ice Last Month            </h1>
            <img id="img1" src="https://github.com/Swapna02/Stop_Global_Warming/blob/master/images/icemelt.jpg?raw=true" alt="no imgage">
            <p class="p1" >
                <label style="padding-left: 15px;"> <b style="font-size: 40px; padding-left:70px;">A</b> staggering 217 billion tons (197 billion metric tons) of meltwater flowed off of
                 Greenland's ice sheet into the Atlantic Ocean this July. The worst day of melting was July 31, when 11 billion tons (10 billion metric tons) of melted ice poured into the ocean.

                    This massive thaw represents some of the worst melting since 2012, according to The Washington Post. That year, 97% of the Greenland ice sheet experienced melting. This year, so far, 56% of the ice sheet has melted, but temperatures — 15 to 20 degrees Fahrenheit above average — have been higher than during the 2012 heat wave. All told, this July's melt alone was enough to raise global average sea levels by 0.02 inches (0.5 millimeters), according to the Post.</label>
                </p>
                
                    <p class="p1">
                        That melting occurred after a heat wave that had swept across Europe in July, setting temperature records in France, settled over Greenland. And June was the hottest June ever recorded the world over. This massive global warming coincides with a drastic increase in atmospheric carbon dioxide levels, to amounts not seen in the last 800,000 years. At the same time, part of Greenland is on fire.
                </p>
        </div>
        <div id="div2">
            <h3 style="text-align:left; padding: 30px; background-color:grey;width: 300px; float: right;">A rapid increase in surface melting on the Greenland ice sheet began on July 30 and continued through August 3, covering primarily the central and northern areas of the ice sheet on both the east and west ice sheet slopes. On July 30 and 31, melting reached the Summit Camp area of the ice sheet, corroborated by both air temperature from the National Oceanic and Atmospheric Administration (NOAA) weather station at Summit and the passive-microwave melt analysis. Peak melt area occurred on July 31, with just over 60 percent of the ice sheet surface experiencing melt (Figure 1a). Over the course of the five-day event approximately 90 percent of the surface of Greenland reached the melting point at least once.
<br>                <a href="https://nsidc.org/greenland-today/" style="font-size:24px;">more</a>
            </h3>    
            <video
            onmouseover="play()" onmouseout="pause()" src="https://github.com/Swapna02/Stop_Global_Warming/blob/master/images/Greenland%20ice%20is%20melting%20faster%20than%20before.mp4?raw=true" class="video1">Greenland ice melting vedio
        </video>
        <br> <br> <br> <br> <br>

        
        </div>
        <div>
            <h1></h1>
        </div>
        
        <script>
            var myvideo=document.getElementById(video1);
        function play()
        {
            myvideo.play();
        }
        function pause()
        {
            myvideo.pause();
        }
        </script>
    </body>
</html>
