<html>
<head>
    <style>
    div
    {
    width:900px;
    }
    img
        {
            width: 600px;
            height: 300px;
        }
    p
        {
            font-size: 1.3em;
        }
    h1
        {
            font-size: 3em;
            margin-left: 270px;
        }
        
    body{
        background-color:wheat;
    }
        img 
        {
            margin-left: 100px;
        }
        i
        {
font-size: 1.2em;
        color: black;
        text-decoration: underline;}
    </style>
    </head>
<body>
    <div>
    <h1>Water pollution</h1>
    <img src="https://github.com/Swapna02/Stop_Global_Warming/blob/master/images/anh-vy-Sj5vmEumehE-unsplash.jpg?raw=true" width:100px height:50px>
        <p><b>What is water pollution?</b><br>Water pollution is any chemical, physical or biological change in the quality of water that has a harmful effect on any living thing that drinks or uses or lives (in) it. When humans drink polluted water it often has serious effects on their health. Water pollution can also make water unsuited for the desired use.</p>
    <p><b>What are the major water pollutants?</b><br>There are several classes of water pollutants. The first are disease-causing agents. These are bacteria, viruses, protozoa and parasitic worms that enter sewage systems and untreated waste.

A second category of water pollutants is oxygen-demanding wastes; wastes that can be decomposed by oxygen-requiring bacteria. When large populations of decomposing bacteria are converting these wastes it can deplete oxygen levels in the water. This causes other organisms in the water, such as fish, to die.
A third class of water pollutants is water-soluble inorganic pollutants, such as acids, salts and toxic metals. Large quantities of these compounds will make water unfit to drink and will cause the death of aquatic life.
Another class of water pollutants are nutrients; they are water-soluble nitrates and phosphates that cause excessive growth of algae and other water plants, which deplete the water's oxygen supply. This kills fish and, when found in drinking water, can kill young children.
Water can also be polluted by a number of organic compounds such as oil, plastics and pesticides, which are harmful to humans and all plants and animals in the water.
A very dangerous category is suspended sediment, because it causes depletion in the water's light absorption and the particles spread dangerous compounds such as pesticides through the water.
Finally, water-soluble radioactive compounds can cause cancer, birth defects and genetic damage and are thus very dangerous water pollutants.</p>
    <p><b>Where does water pollution come from?</b><br>Water pollution is usually caused by human activities. Different human sources add to the pollution of water. There are two sorts of sources, point and nonpoint sources. Point sources discharge pollutants at specific locations through pipelines or sewers into the surface water. Nonpoint sources are sources that cannot be traced to a single site of discharge.
Examples of point sources are: factories, sewage treatment plants, underground mines, oil wells, oil tankers and agriculture.
Examples of nonpoint sources are: acid deposition from the air, traffic, pollutants that are spread through rivers and pollutants that enter the water through groundwater.
Nonpoint pollution is hard to control because the perpetrators cannot be traced.</p>
    <p><b>How do we detect water pollution?</b><br>Water pollution is detected in laboratories, where small samples of water are analysed for different contaminants. Living organisms such as fish can also be used for the detection of water pollution. Changes in their behaviour or growth show us, that the water they live in is polluted. Specific properties of these organisms can give information on the sort of pollution in their environment. Laboratories also use computer models to determine what dangers there can be in certain waters. They import the data they own on the water into the computer, and the computer then determines if the water has any impurities.</p>
        <p><b>Air pollution prevention, monitoring and solution.
</b><br>Solution efforts on pollution is always a big problem. This is why prevention interventions are always a better way of controlling air pollution. These prevention methods can either come from government (laws) or by individual actions. In many big cities, monitoring equipment has been installed at many points in the city. Authorities read them regularly to check the quality of air. Let's see more below:<br>

            <i>Government (or community) level prevention</i><br>
Pollutants factsGovernments throughout the world have already taken action against air pollution by introducing green energy. Some governments are investing in wind energy and solar energy, as well as other renewable energy, to minimize burning the of fossil fuels, which cause heavy air pollution.

Pollutants factsGovernments are also forcing companies to be more responsible in their manufacturing activities, so that even though they still cause pollution, they are a lot controlled.

Pollutants factsCar manufacturing companies are also building more energy efficient cars, which pollute less than before.<br>

            <i>Individual Level Prevention</i><br>
Pollutants factsEncourage your family to use the bus, train or bike when commuting. If we all do this, there will be fewer cars on the road and less fumes produced.Pollutants factsUse energy (light, water, boiler, kettle and fire woods) wisely. This is because lots of fossil fuels are burned to generate electricity, and so if we can cut down the use, we will also cut down on the amount of pollution we create.

Pollutants factsRecycle and re-use things. This will minimize the dependence of producing new things. Remember manufacturing industries create a lot of pollution, so if we can re-use things like shopping plastic bags, clothing, paper and bottles, it can help</p>
    </div></body></html>
